.nav{
    width: 100%;
    height: 50px;
   background-color: black;
   color: white;
    display: flex;
    gap: 30%;
}
.nav1, .nav2{
    width: 50%;
    height: 100%;
}
.nav1{
    display: flex;
}
.logoBox{
    width: 10%;
    height: 100%;
}
.logoBox i{
    font-size: 35px;
    margin-top: 5px;
}
.links{
    width: 90%;
    height: 100%; 
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  
}
.links p{
    margin-top: 10px;
}


.searchBox{
    width: 60%;
    height: 80%;
    margin-top:4px; 
}
.nav2{
    display: flex;
}
.bttn1{
 
    color: white;
    width: 70px;
    height: 60%;

    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
.bttn2{
   
   border:1px solid white;
    width: 70px;
    height: 60%;
   padding: 2px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
}
.searchBox input{
    margin:5px 0 0 10px;
    padding: 1px;
    border-radius: 5px;
}

@media only screen and (max-width: 1000px) {
    .nav{
        gap: 0;
    }
}
@media only screen and (max-width: 800px) {
    .searchBox{
      display: none;
    }
}